apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Chart.Name }}
  namespace: {{ .Values.namespace }}
spec:
  replicas: {{ .Values.replicaCount }}
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 0
      maxSurge: 50%
  selector:
    matchLabels:
      app: {{ .Chart.Name }}
  template:
    metadata:
      labels:
        app: {{ .Chart.Name }}
    spec:
      containers:
      - name: {{ .Chart.Name }}
        image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
        imagePullPolicy: {{ .Values.image.pullPolicy}}
        command: {{ .Values.container.command }}
        ports:
        - containerPort: 80
        env:
        {{- range $key, $value := .Values.env }}
        - name: {{ $key }}
          value: {{ $value | quote }}
        {{- end }}
        readinessProbe:
          httpGet:
            path: /health
            port: 80
          initialDelaySeconds: 5  # Wait before first check
          periodSeconds: 5
          failureThreshold: 3
        livenessProbe:
          httpGet:
            path: /health
            port: 80
          initialDelaySeconds: 15  # Give more time than readiness
          periodSeconds: 10
          failureThreshold: 3
        resources:
          limits:
            cpu: "500m"
            memory: "250Gi"
          requests:
            cpu: "250m"
            memory: "512Mi"
      imagePullSecrets:
      - name: harbor-creds
