apiVersion: v1
kind: Service
metadata:
  name: {{ .Chart.Name }}
  namespace: {{ .Values.namespace }}
spec:
  selector:
    app: {{ .Chart.Name }}
  ports:
  - protocol: TCP
    port: 80
    targetPort: {{ .Values.container.port }}
  type: ClusterIP
