namespace: default

image:
  repository: harbor.marcmarina.com/library/turbo-playground
  tag: latest
  pullPolicy: IfNotPresent

replicaCount: 3

service:
  type: ClusterIP
  port: 80

ingress:
  host: turbo-express.backend.marcmarina.com
